<!--The whole content below can be removed with the new code.-->
<app-tools></app-tools>


<div id="content" class="demo">


  <md-tab-group>
    <md-tab label="Last action">
      <md-card>
        <button md-button>FLAT</button>
        <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
        <button md-raised-button color="primary">PRIMARY RAISED</button>
        <button md-raised-button color="accent">ACCENT RAISED</button>
      </md-card>
      <md-card>
        <button md-button>FLAT</button>
        <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
        <button md-raised-button color="primary">PRIMARY RAISED</button>
        <button md-raised-button color="accent">ACCENT RAISED</button>
      </md-card>
    </md-tab>
    <md-tab label="New">Content 2</md-tab>
  </md-tab-group>

  <!--app-login></app-login-->

</div>
