

.toolbar {
  background: lightsteelblue;

  .icon {
    padding-left: 1em;
    padding-bottom: 18px;
  }

  .tools {
    position: absolute;
    right: 100px;
  }

  h1 {
    padding: 5em;
  }

  input {
    background-color: ghostwhite;
  }

}
